// SASS VARIABLES----------------------------------------
$seperator: 1px solid black;
$inner-seperator: 1px solid lightgrey;
$space: 15px;

$easygrey: rgba(241, 241, 241, 1);
$hardgrey: #84858a;


//CONSTANTS---------------------------------------------

img{
    width:100%;
    display: block;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%; 
}

.displayNone{
  display: none;
}

#preloader { 
  position: fixed; 
  left: 0; 
  top: 0; 
  z-index: 999; 
  width: 100%; 
  height: 100%; 
  overflow: visible; 
  // display: flex; 
  // align-content: center;
  // justify-content: center;
  // background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center; 
  background: #333;
}

.loader {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  color: $easygrey;
  margin-top: 20%;

  p {
    font-family: $accentfont;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  $basic-dark-color: #b4b4b4; //color of the spinner
$border-width: 4px; //width of spinners border
$basic-spinner-dimensions: 125px; //width and height of spinner
$main-spinner-dimensions: $basic-spinner-dimensions - $border-width * 2; //width and height of bigger circle
$small-spinner-dimensions: $main-spinner-dimensions * 0.7; //width and height of smaller circle
  /* spinner style */
.spinner {
    position: relative;
    width: $basic-spinner-dimensions;
    height: $basic-spinner-dimensions;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      border-width: 4px;
      border-style: solid;
      border-radius: 50%;
    }
  }

/* spinner-1 styles */
.spinner.spinner-1 {
  
    @keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes anti-rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }
  
  &:before {
    width: $main-spinner-dimensions;
    height: $main-spinner-dimensions;
    border-bottom-color: $basic-dark-color;
    border-right-color: $basic-dark-color;
    border-top-color: rgba($basic-dark-color, 0);
    border-left-color: rgba($basic-dark-color, 0);
    top: 0px;
    left: 0px;
    animation: rotate-animation 1s linear 0s infinite;
  }
  
  &:after {
    width: $small-spinner-dimensions;
    height: $small-spinner-dimensions;
    border-bottom-color: $basic-dark-color;
    border-right-color: $basic-dark-color;
    border-top-color: rgba($basic-dark-color, 0);
    border-left-color: rgba($basic-dark-color, 0);
    top: ($main-spinner-dimensions - $small-spinner-dimensions) / 2;
    left: ($main-spinner-dimensions - $small-spinner-dimensions) / 2;
    animation: anti-rotate-animation 0.85s linear 0s infinite;
  }
}
}

// HEADER-------------------------------------------------


header{ 
    width: 80%;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;  

    .header-site-logo{
        width: 50%;
        margin: 0 auto;
        padding: $space 0;
    }

    .website-intro-container{
        padding: 5% 0;
        width: 100%;
        text-align:center;
        border-bottom: $seperator;
        border-top: $seperator;
    
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 1s ease;
    
        h1{
            text-align: center;
            color: $hardgrey;
            font-size: 3rem;
            text-transform: uppercase;
            padding-bottom: 30px;
        }
        p{
            font-size: 5rem;
            width: 100%;
            margin: 0 auto;
        }
    }
}




.draw {
  animation: draw 4000ms ease-in-out ;
  stroke: $hardgrey;
}

@keyframes draw
{
0% {stroke-dasharray: 0 400; stroke-dashoffset: 200;fill-opacity:0;stroke-width: 2;}
37% {stroke-dasharray:200 0; stroke-dashoffset: 200;fill-opacity: 0;stroke-width: 2;}
50% {fill-opacity: 1;stroke-width: 0;}
100% {fill-opacity: 1;stroke-width: 0;}
}

//found on codepen at https://codepen.io/beyondSimple/pen/qpIxm

//MAIN-----------------------------------------------------

main{
    width: 80%;
    margin: $space auto;

    display: flex;
    flex-direction: row;
}

.main-opacity{
    opacity: 0;
    filter:alpha(opacity=40);
}

.main-section{
    padding: 0 $space;
    border-right: $seperator; 
    width: 60%;
}

.main-section-sub{
    display:flex;
    flex-direction: row;
    padding-bottom: $space;
    border-bottom: $inner-seperator;
    
    article{
        border-bottom: none;
        width: 50%;
        margin-top: $space;
    }
    article.left{
        padding-right: $space;
        border-right: $inner-seperator;
    }
    article.right{
        padding-left: $space;
    }
}

.side-articles-container{
    &-left{
        padding-right: $space;
        border-right: $seperator; 
        width: 20%;
    }
    &-right{
        width: 20%;
        padding-left: $space;
    }
}

// FORM-------------------------------------------------

.form-container{
   width: 100%;
   padding: $space 0;
   border-bottom: $seperator;
}

form{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .form-input{
        width: 50%;
        margin-right: $space;
        // margin:0 15px 0 20%;
    }
    #btn-submit{
        width:50%;
        // margin-right: calc(15px + 20%);

        background: black;
        color:white;
        border:none;
        opacity: 1;
        transition: 0.15s;
        &:hover{
            opacity:.7;
        }
    }


    /* Removes the clear button from date inputs */
    input[type="date"]::-webkit-clear-button {
        display: none;
    }
    
    /* Removes the spin button */
    input[type="date"]::-webkit-inner-spin-button { 
        display: none;
    }
    
    /* Always display the drop down caret */
    input[type="date"]::-webkit-calendar-picker-indicator {
        color: #2c3e50;
    }
    
    /* A few custom styles for date inputs */
    input[type="date"] {
        appearance: none;
        -webkit-appearance: none;
        color: rgb(63, 63, 63);
        font-family: $accentfont;
        font-size: 1.4rem;
        border:none;
        background: $easygrey;
        padding:5px;
        display: inline-block !important;
        visibility: visible !important;
    }
    
    input[type="date"], focus {
        // color: blue;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
}


footer {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  display: flex; 
  flex-direction: row;
  font-family: $basefont;
  justify-content: space-between;

  a {
  // width: 10%;
  padding: 0 .2rem;
  text-decoration: none;
  color: darkslategray;
  font-weight: bold;
}
}

.team p {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
        form input[type="date"] {
            padding: 5px 5px 5px 43%;
        }
}

@media (min-width: 300px) and (max-width: 767px) {
        form input[type="date"] {
            padding: 5px 5px 5px 36%;
        }
}


// ARTICLES--------------------------------------------

article{
    border-bottom: $inner-seperator;
    padding-bottom: $space;
        a{
            color: darkslategrey;
            padding-top:5px;
            // transition: 0.3s;
        }
        a:hover{
            color:black;
            font-weight: 600;
        }
}

.article-top-space{
    padding-top: $space;
}

.website-intro-container-fadeout{
    display: none;
}



// WEATHER-----------------------------------------------
.weather-results{
    padding:50px 40px;
    text-align:center;
    background-color: $easygrey;
    position:relative;
    figure{
        position: relative;
        div{
            width:100%;
            margin: 0 auto;
            top: 30%;
            position: absolute;
        }
    }
}

@media (min-width: 300px) and (max-width: 767px) {
        .weather-results figure div {
            top:10%;
        }
}




// MOBILE--------------------------------------------
@media (min-width: 300px) and (max-width: 1024px) {

    // HEADER----------------------------------------

    header{
        width:90%;
        .header-site-logo{
            width: 80%;
            margin: 0 auto;
            padding: $space 0;
    }
        .website-intro-container{
            padding: 5% 0;
            width: 100%;
            text-align:center;
            border-bottom: $seperator;
            border-top: $seperator;
                
            h1{
                text-align: center;
                color: $hardgrey;
                font-size: 2.2rem;
                text-transform: uppercase;
                padding-bottom: $space;
            }
            p{
                font-size: 2.6rem;
                // width: 100%;
                // margin: 0 auto;
            }
        }
    }

    // FORM----------------------------------------

    form{
        width:100%;
        flex-direction: column;
        // justify-content: space-between;
        .form-input{
            width:100%;
            margin:0;
            padding:0;
            height:45px;
            margin-bottom: $space;
        }

        #btn-submit{
            width:100%;
            margin:0;
            height: 45px;
        }
        
    }

    // MAIN----------------------------------------

    main{
        width:90%;
        margin: 0 auto;
        flex-direction: column;
    }

    .main-section{
        order: 1;
        padding: $space 0 0 0 ;
        border-right: none; 
        width: 100%;
    }

    .main-section-sub{
        flex-direction: column;
        padding-bottom: 0;
        border-bottom: none;
        border-bottom: none;
        
        article{
            padding-top: $space;
            margin-top: 0;
            width:100%;
            border-bottom: $inner-seperator;
        }
        article.left{
            padding-right: 0;
            border-right: 0;
            border-bottom: $inner-seperator;
        }
        article.right{
            padding-left: 0;
        }
    }

    .article-no-top-space{
        padding-top: $space;
    }

    .side-articles-container{
        &-left{
            order: 2;
            padding-right: 0;
            border-right: none; 
            width:100%;
        }
        &-right{
            order: 3;
            width:100%;
            padding-left: 0;
        }
    }
}

// FOOTER MEDIA QUERY
@media screen and (max-width: 500px) {
   footer {
       flex-direction: column;
       justify-content: center;
       .credits {
           margin-top: 25px;
       }
       .team {
           margin: 25px 0;
           display: flex;
           justify-content: center;
       }
   }
}