// SASS VARIABLES----------------------------------------
$seperator: 1px solid black;
$inner-seperator: 1px solid lightgrey;
$space: 15px;

$easygrey: rgba(241, 241, 241, 1);
$hardgrey: #84858a;

img{
    width:100%;
    display: block;
}

// LAYOUT--------------------------------------------------

header, main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: $space;
}

// HEADER-------------------------------------------------

header{   
    .header-site-logo{
        grid-column: 5 / 9;
        margin: 0 auto;
        padding-top: $space;
    }
    .website-intro-container{
        padding-top: 5px;
        grid-column: 2 / 12;
        text-align:center;
        border-bottom: $seperator;
        border-top: $seperator;
        p{
            font-size: 1.6rem;
            width: 60%;
            margin: 0 auto;
        }
    }
}

//MAIN-----------------------------------------------------

.main-section{
    padding-right: $space;
    border-right: $seperator; 
    grid-column: 4 / 10;
    grid-row: 2 / 3;
}

.main-section-sub{
    display:flex;
    flex-direction: row;
    padding-bottom: $space;
    border-bottom: $inner-seperator;
    
    article{
        padding-top: 0;
        padding-bottom: 0;
        margin-top: $space;
        width:50%;
        border-bottom: none;
    }
    article.left{
        padding-right: $space;
        border-right: $inner-seperator;
    }
    article.right{
        padding-left: $space;
    }
}

.side-articles-container{
    &-left{
        padding-right: $space;
        border-right: $seperator; 
        grid-column: 2 / 4;
    }
    &-right{
        grid-column: 10 / 12;
    }
}

// FORM-------------------------------------------------

.form-container{
   grid-column: 2 / 12;
   padding: $space 0;
   border-bottom: $seperator;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .form-input{
        width:30%;
        margin:0 15px 0 20%;
    }
    #btn-submit{
        width:30%;
        margin-right: calc(15px + 20%);

        background: black;
        color:white;
        border:none;
        opacity: 1;
        transition: 0.15s;
        &:hover{
            opacity:.7;
        }
    }


    /* Removes the clear button from date inputs */
    input[type="date"]::-webkit-clear-button {
        display: none;
    }
    
    /* Removes the spin button */
    input[type="date"]::-webkit-inner-spin-button { 
        display: none;
    }
    
    /* Always display the drop down caret */
    input[type="date"]::-webkit-calendar-picker-indicator {
        color: #2c3e50;
    }
    
    /* A few custom styles for date inputs */
    input[type="date"] {
        appearance: none;
        -webkit-appearance: none;
        color: rgb(63, 63, 63);
        font-family: $accentfont;
        font-size: 1.4rem;
        border:none;
        background: $easygrey;
        padding:5px;
        display: inline-block !important;
        visibility: visible !important;
    }
    
    input[type="date"], focus {
        // color: blue;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
}

// ARTICLES--------------------------------------------

article{
    border-bottom: $inner-seperator;
    padding: $space 0;
        a{
            color:$hardgrey;
            padding-top:5px;
            // transition: 0.3s;
        }
        a:hover{
            color:black;
            font-weight: 600;
        }
}




// WEATHER-----------------------------------------------
.weather-results{
    padding:20px 40px;
    text-align:center;
    background-color: $easygrey;
}





// TABLET--------------------------------------------
@media (min-width: 767px) and (max-width: 1024px) {

}

// MOBILE--------------------------------------------
@media (min-width: 320px) and (max-width: 767px) {
    header{
        width:100%;
    }
}