img{
    width:100%;
    display: block;
}

header, main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;

}


header{
    grid-template-rows: 1fr 1fr;
    min-height: 25vh;
    
    h1{
        grid-column: 5 / 9;
        margin: 0 auto;
        padding: 15px 0;
    }
    .website-intro{
        grid-column: 4 / 10;
        text-align:center;
    }
}

main{
    grid-template-rows: 1fr 6fr 6fr;
    height: 75vh;
}

form{
    grid-column: 4 / 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .form-input{
        width:30%;
        border: 1px solid black;
        margin-right:15px;
    }

    #btn-submit{
        width:30%;
        background: black;
        color:white;
        border:none;
    }
}

.main-article{
    grid-column: 4 / 10;
    grid-row: 2 / -1;
    &-image{
        width:100%;
        height: 345px;
        overflow: hidden;
        img{
            //need to revisit this. Images are not centering within div.
            object-fit: cover;
            object-position: center center;
        }
    }
}

.side-articles-container{
    &-left{
        grid-column: 2 / 4;
    }
    &-right{
        grid-column: 10 / 12;
    }
}





// TABLET--------------------------------------------
@media (min-width: 767px) and (max-width: 1024px) {


}

// MOBILE--------------------------------------------
@media (min-width: 320px) and (max-width: 767px) {
    header{
        width:100%;
    }
}