$logofont: 'UnifrakturCook', cursive;
$accentfont: 'Open Sans', sans-serif;
$basefont: 'Libre Baskerville', serif;



html{
    font-size: 62.5%;
}

h1, h2, h3, p{
    margin:0;
}

span{
    text-transform: uppercase;
    font-family: $accentfont;
    font-size:1.4rem;
    font-weight: 400;
    letter-spacing: 2px;
}


h1{
    font-family: $basefont;
    font-size:2.2rem;
    font-weight: 700;
    line-height: 1.5;

}


h2{
    // margin:10px 0;
    font-family: $basefont;
    font-size:1.8rem;
    font-weight: 700;
    line-height: 1.5;
    text-transform: capitalize;
}

h3{
    margin:10px 0;
    font-family: $basefont;
    font-size:1.4rem;
    font-weight: 700;
    line-height: 1.5;
    text-transform: capitalize;
}

p{
    font-family: $basefont;
    font-size:1.4rem;
    line-height: 1.5;
}

a{
    display:block;
    font-family: $accentfont;
    font-size:1.4rem;
    font-weight: 400;

}